.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: 1rem;
}

.single-item p {
  text-transform: capitalize;
}

.single-item input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.single-item .btn:hover {
  background: #06b6d4;
}

.single-item .edit-btn:hover {
  background: #7108b2;
}

.single-item .remove-btn {
  background: #c00d13;
}

.single-item .remove-btn:hover {
  background: #991b1b;
}
