.single-item {
  display: grid;
  grid-template-columns: 24px 1fr 42px 42px;
  align-items: center;
  column-gap: 1.25rem;

  padding: 0.75rem 1rem;
  background: #fafafa;
  border-radius: 0.75rem;
}

.single-item p {
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.single-item p.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

.single-item input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.single-item .btn {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.single-item .edit-btn {
  background: #06b6d4;
}

.single-item .edit-btn:hover {
  background: #b20893;
}

.single-item .remove-btn {
  background: #c00d13;
}

.single-item .remove-btn:hover {
  background: #991b1b;
}
